<header>

  <nav class="navbar navbar-default" role="navigation">

    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jb-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          {{ site.title }}
        </a>
      </div>

      <div class="collapse navbar-collapse" id="jb-navbar-collapse">

        <ul class="nav navbar-nav navbar-right social-bar-small">
          <li>
            <a href="http://twitter.com/{{ site.twitter }}" target="_blank">
              <img src="/assets/images/icons/noborder/twitter.png">
            </a>
          </li>
          <li>
            <a href="http://github.com/{{ site.github }}" target="_blank">
              <img src="/assets/images/icons/noborder/github.png">
            </a>
          </li>
          <li>
            <a href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank">
              <img src="/assets/images/icons/noborder/stackoverflow.png">
            </a>
          </li>
          <li>
            <a href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank">
              <img src="/assets/images/icons/noborder/linkedin.png">
            </a>
          </li>
        </ul>

      </div>
    </div>

  </nav>
</header>